@font-face {
    font-family: "Monaspace Xenon";
    src: url("https://cdn.jsdelivr.net/gh/githubnext/monaspace@v1.000/fonts/webfonts/MonaspaceXenon-Regular.woff");
}
html {
    font-family: "Monaspace Xenon", serif;
}
body {
    background-color: darkcyan;
    overflow: hidden;
    margin: 0;
}
.scanlines {
    height: 100dvh;
    background: linear-gradient(to top, #008b8b3f, #008b8b3f, #009b9b3f, #009b9b3f);
    background-size: 100% 10px;
    animation: linear 0.5s scan infinite;
}
@keyframes scan {
    from {
        translate: 0 0;
    }
    to {
        translate: 0 20px;
    }
}
.center-screen {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bordered {
    background-color: #00A0A0;
    color: lightcyan;
    vertical-align: middle;
    text-align: justify;
    display:table-cell;
    width: fit-content;
    padding: 10px 20px 5px 20px;
    border: 5px solid #00C0C0;
    border-radius: 10px;
}